*{
  margin: 0;
  padding: 0;
}
#container{
    padding-top: 5px;
    background: #0b001cf5;
    width: 100%;
    height: 100vh;
}
#fa{
   margin-left: 150px;
   margin-bottom: 15px;
   color: #e97c00;
}
h{
    color: #e97c00;
    
}
p{
    color: #e97c00;
}
p2{
    color: white;
    margin-top: -5%;
    text-align: center;    
}
p3{
    color: white;
    text-align: center;
    font-size: 10px;
}
label{
    color: white;
}
#text{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 2px;
    background: #182544;
    border: 1px solid #24345C;
}
#email{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 2px;
    background: #182544;
    border: 1px solid #24345C;
}
#password{
    width: 100%;
    border-radius: 7px;
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: 0px 0px 2px;
    background: #182544;
    border: 1px solid #24345C;
}
#passwordd{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 2px;
    background: #182544;
    border: 1px solid #24345C;
}
#login{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    background: #e97c00; 
    margin-top: 25px;
}
p6{
    display: flex;
    justify-content: center;
    color: white;
    padding: 15px;
}
#google-btn{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: none;
    color: white;
}
p5{
    text: center;
    font-size: 15px;
    color: white;
    gap: 5px;
    display: flex;
    justify-content: center;
}
.link{
    color: #e97c00;
    font-size: 14px;
 
}
#f-b{
    border: 0.5px solid #24345C;
    width: 42%;
    height: 0.1px;
    margin-bottom: -10px;
}
#s-b{
    border: 0.5px solid #24345C;
    width: 42%;
    height: 0.1px;
    margin-left: 188px;
    margin-top: -11px;
} 
